@charset "UTF-8";

select,
input,
textarea {
   outline: none;
  resize: none;
}
date{
	width:0;
	min-width:1000px;
}

select,
textarea,
input {
  transition: .25s;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid lightgrey;
  padding: 5px 10px;
}
td {
	 width: 50px;
	 height: 50px;
}
.add{
    text-align: center;
}
.Calendar { 
	padding:20px;
	align: center;
    text-align: center;
    margin: 0 auto; 
    width: 80%;
    height: 100%;
}
.header{
	font-size:20px;
}
.dateHeader{
	font-size:20px;
}
.add{
	font-size:20px;
}
.calBody{
	text-align: left;
	text-decoration: underline;
	vertical-align : top;
}

.Calendar>thead>tr:last-child>td {
    background-color: #fadbe2;
    color: black;
}        

.Calendar
,.Calendar>thead{
	font-size:90%	
}

.popup_detail
,.popup_list{
  z-index: 999;
	
}
.popup{
   z-index: 1000;
}
.popup
,.popup_detail
,.popup_list {
   display: none;
   position: absolute;
   top: 0; left: 0;
   width: 100%; height: 100%;
   padding: 20px;
   font-size:12px;
}
.dim
,.dim_detail
,.dim_list {
   font-size:12px;
  position: absolute;
  z-index: 990;
  top: 0; left: 0;
   width: 100%; height: 100%;
  background: rgb(0 , 0, 0, 0.7);
}
.popup_main
,.popup_main_detail
,.popup_main_list {
   font-size:12px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
   width: 40%; height: 75%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 , 0, 0, 0.5);
  padding: 15px;
  overflow: scroll;
}


.cal_search_list > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
   border: 1px solid lightgray;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
	padding: 5px;
	background-color: #fee0e9;
}
.calMoreList > div > div{
 width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
   border: 1px solid lightgray;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
	padding: 5px;
}

.empty_calMoreList{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
   border: 1px solid lightgray;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
	padding: 15px;
}

.money_calForm > div
,.upDelForm > div{
 display: flex;
   align-items: center;
   gap: 10px;
   padding: 20px 0 20px;
  border-bottom: 1px solid lightgrey;
}
.money_calForm > div > div,
.upDelForm > div > div{
 display: flex;
   align-items: center;
   width:13%;
}

.title
,.title_list {
	font-size: 25px;
  	font-weight: bold;
	padding: 10px;
	color: #333333;
}
.delete,
.cancel,
.save,
.add,
.update {
  display: inline-block;
  border-radius: 5px;
  width: 100px; height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  margin: 10px 0 0;
  font-size: 14px;
  padding: 0 10px;
  transition: .25s;
  color: #0000CD;
  background: #fff;
  margin-right: 10px;
  cursor: pointer;
}
.save,
.update,
.add{
  background-color: #fd8aa9;
  color: #fff;
}
.delete,
.cancel {
  border: 1px solid lightgrey;
  color:#fd8aa9;
}
.save:hover
,.update:hover
,.add:hover {
  box-shadow: 0 0 10px rgba(18, 18, 32, 0.20);
}